<!DOCTYPE html>
<html>

<head>
    <title>labs</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
    <link rel="stylesheet" type="text/css" href="static/header.css">
</head>

<body>
    <header>


    <div class="navbar">
        <a class="username" href="#">Support</a>
        <a class="username" href="/get_all_branches">All Branches</a>

        <a class="username" href="/get_tenants_details">All Tenants</a>


        <a class="username" href="/tenant_login_page">Login as tenant</a>
        <a class="username" href="/tenant_signup">Add a tenant</a>
        <a class="username" href="/branch_signup">Add Branch</a>
        <a class="username" href="/tenant_login_page">Tenant Login</a>

        <a class="username" href="/branch_login_page">Branch Login</a>

    </div>
    </header>
</body>

</html>