{% include'branchheader.html' %}
<!DOCTYPE html>
<html>
<head>
    <title>Customer Transactions</title>
</head>
<body>
    <h1>Customer Transactions</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Branch ID</th>
                <th>Customer ID</th>
                <th>Customer Name</th>
                <th>Customer Mobile</th>
                <th>Service Name</th>
                <th>Remainder Days</th>
                <th>Current Date</th>
                <th>Current Service Remark</th>
                <th>Payment Mode</th>
                <th>Paid Amount</th>
                <th>Discount</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction[1] }}</td>
                    <td>{{ transaction[2] }}</td>
                    <td>{{ transaction[3] }}</td>
                    <td>{{ transaction[4] }}</td>
                    <td>{{ transaction[5] }}</td>
                    <td>{{ transaction[6] }}</td>
                    <td>{{ transaction[7] }}</td>
                    <td>{{ transaction[8] }}</td>
                    <td>{{ transaction[9] }}</td>
                    <td>{{ transaction[10] }}</td>
                    <td>{{ transaction[11] }}</td>
                    <td>{{ transaction[12] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
