{% include 'branchheader.html' %}
<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Customer Transaction Form</title>
    <link rel="stylesheet" type="text/css" href="static/customer_tnx.css">
    <style>
        body {
        display: flex;
        height: 100vh;
        margin: 30px;
        }
</style>

</head>

<body>
    <h1>Customer Transaction Form And Customer ID: {{ s_cust_id }} </h1>
    
    <form id="customerInfoForm" action="/add_customer_transaction" method="post">

        <label for="service_dropdown" class="label">Service Name:</label>
        <select name="service_dropdown" id="service_dropdown" class="input" required></select><br>

        <label for="remainder_days" class="label">Remainder Days:</label>
        <input type="text" name="remainder_days" id="remainder_days" class="input" required><br>

        <label for="current_service_remark" class="label">Current Service Remark:</label>
        <input type="text" name="current_service_remark" id="current_service_remark" class="input" required><br>

        <label for="payment_mode" class="label">Payment Mode:</label>
        <select name="payment_mode" id="payment_mode" class="input" required>
            <option value="online">Online</option>
            <option value="Card">Card</option>
            <option value="UPI">UPI</option>
        </select><br>

        <label for="paid_amount" class="label">Paid Amount:</label>
        <input type="text" name="paid_amount" id="paid_amount" class="input" required><br>

        <label for="discount" class="label">Discount:</label>
        <input type="text" name="discount" id="discount" class="input" required><br>

        <label for="location" class="label">Location:</label>
        <input type="text" name="location" id="location" class="input" required><br>

        <input type="submit" value="Submit">
    </form>
    <script>
        // Function to populate the service dropdown from the API
        function populateServiceDropdown() {
            $.ajax({
                url: '/get_services',
                method: 'GET',
                success: function (data) {
                    var serviceDropdown = $('#service_dropdown');
                    serviceDropdown.empty();

                    if (data.services && data.services.length > 0) {
                        $.each(data.services, function (index, service) {
                            serviceDropdown.append('<option value="' + service.service_name + '">' + service.service_name + '</option>');
                        });
                    } else {
                        console.error('No services found');
                    }
                },
                error: function (error) {
                    console.log('Error: ' + error.responseJSON.error);
                }
            });
        }

        // Call the function to populate the service dropdown on page load
        $(document).ready(function () {
            populateServiceDropdown();
        });

    </script>
</body>

</html>