

<!DOCTYPE html>
<html>
<head>
  <title>labs</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='loginRegister.css') }}">

</head>
<body>
    <center><h1>Register or Login</h1></center>

    
    <div class="container">

    <div class="login-form">
        <a href="/loginform">
            <button class="button" id="loginButton">Login</button>
        </a>
    </div>

    <div class="register-form">
        <a href="/register">
            <button class="button" id="registerButton">Register</button>
        </a>
    </div>
    </div>




</body>
</html>